<div class="global_wrapper">
  <div class="foreground_element">
    <% if @user == current_user %>
    <h1>My recipes </h1>
    <% else %>
<h1><%= @user.username %>'s recipes</h1>
<% end %>
</div>

<%= render 'shared/recipe_cards' %>

</div>
