// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:600,700');

// Define fonts for body and headers
$body-font: "Lora", "Open Sans", "Helvetica", "sans-serif";
$headers-font: "Montserrat", "Raleway", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Bodoni flf";
//   src: font-url('bodoniflf.eot');
//   src: font-url('bodoniflf.eot?#iefix') format('embedded-opentype'),
//        font-url('bodoniflf.woff') format('woff'),
//        font-url('bodoniflf.ttf') format('truetype')
// }
// $my-font: "Bodoni flf";

.bold {
  font-weight: bold;
}
