<%= simple_form_for(@recipe) do |f| %>
<div class="foreground_element">
  <%= f.input :name, label: "What is the name of your recipe?", placeholder: "Enter recipe name" %>
  <%= f.submit 'Create recipe', class: "btn btn-primary" %>
  </div>
<% end %>
