<div class="global_wrapper">
<div class="foreground_element">

<% if (@recipe.categories.exists? == false && @recipe.name != nil) || @recipe.method != nil %>
<h1>Add categories</h1>
<% elsif (@recipe.equipment.exists? == false && @recipe.categories.exists? == true) || @recipe.method != nil %>
<h1>Add equipment</h1>
<% elsif @recipe.equipment.exists? == true || @recipe.method != nil %>
<h1>Add the method</h1>
<% else %>
<h1>Update this recipe</h1>
<% end %>

</div>

<%= render 'form', recipe: @recipe %>
</div>
