<div class="global_wrapper">
<div class="foreground_element">
<h1>Recipes</h1>
<div class="btn btn-warning">
<%= link_to 'Add a recipe', new_recipe_path %>
</div>
</div>

<%= render 'shared/recipe_cards' %>

</div>
