<div class="global_wrapper">
<div class="foreground_element">
<h1>Recipes</h1>
<%= link_to 'Add a recipe', new_recipe_path %>
</div>


<ul>
<% @recipes.each do |recipe| %>
<%= link_to recipe_path(recipe) do %>
<li class="foreground_element"><%= recipe.name %></li>
<% end %>
<% end %>
</ul>
</div>
