<div class="global_wrapper">
  <div class="foreground_element">
    <h1>Plant as Usual</h1>

    <% if policy(Recipe).new? %>  <!-- THIS IF STATEMENT SIMPLY CHECKS THE STATUS OF THE new? METHOD IN THE RECIPE POLICY ('(Recipe) REFERS TO THE CLASS HERE, AS THERE IS NO INSTACE TO CALL IT ON). AS THE METHOD IS AUTHORIZED (VIA THE APPLICATION POLICY) THE BUTTON IS DISPLAYED. HOWEVER IF YOU WANTED TO DISABLE THE CREATION OF NEW RECIPES, CHANGING THIS METHOD TO RETURN FALSE WOULD HIDE ALL BUTTONS HELD WITHIN THESE AND IDENTICAL IF STATEMENTS, WHICH SHOULD BE AROUND ALL 'ADD A RECIPE' LINKS -->
      <div class="btn btn-warning">
        <%= link_to 'Add a recipe', new_recipe_path %>
      </div>
    <% end %>
  </div>

  <%= render 'shared/recipe_cards' %>

</div>
