<div class="global_wrapper">
  <div class="main_heading foreground_element">

    <div class="twitter_follow_button">
      <!-- Twitter follow button start -->
      <a href="https://twitter.com/plantasusual?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false"></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      <!-- Twitter follow button end -->
    </div>

    <% if policy(Recipe).new? %>
      <div class="add_a_recipe_button btn btn-warning">
        <% if current_user %>
          <%= link_to 'Add a recipe', new_recipe_path %>
        <% else %>
          <%= link_to 'Sign up to add a recipe', new_user_registration_path %>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= render 'shared/recipe_cards' %>

</div>
