.foreground_element {
  background-color: rgba(255, 255, 255, 0.9);
  border: solid 2px black;
  border-radius: 5px;
  box-shadow: 10px 10px 8px rgba(255, 255, 255, 0.5);
  padding: 20px;
  margin: 20px 0;
}

.foreground_element:hover {
  box-shadow: 10px 10px 8px rgba(0, 255, 0, 0.5);
}

.edit_button {
  float: right;
}

.edit_button:hover {
  text-decoration: underline;
}

.method_outer {
  border: solid 2px black;
  background-color: rgb(230, 230, 230);
  padding-left: 5px;
  padding-right: 5px;
}

.method_inner {
  background-color: white;
  min-height: 100px;
}
