.foreground_element {
  background-color: rgba(255, 255, 255, 0.9);
  border: solid 2px black;
  border-radius: 5px;
  box-shadow: 10px 10px 8px rgba(255, 255, 255, 0.5);
  padding: 20px;
  margin: 20px 0;
}

.foreground_element:hover {
  box-shadow: 10px 10px 8px rgba(255, 255, 255, 0.7);
}

.recipe_show_photo img {
  max-width: 70%;
  max-height: 350px;
  border: solid 2px gray;
}

.space_around {
  display: flex;
  justify-content: space-around;
}

.space_between {
  display: flex;
  justify-content: space-between;
}

.edit_button {
  // float: right;
}

.edit_button:hover {
  text-decoration: underline;
}

// THIS ENSURES THAT THE PARENT ELEMENT CONTINUES UNTIL THE END OF ANY FLOATING ELEMENTS
.floated_images_clear {
  clear: both;
  margin: 0;
  padding: 0;
}

.social_media_buttons {
  float: right;
  margin: 10px;
}

.fb-share-button {
  vertical-align: top;
  margin-top: -5px;
}
