h1 {
  font-size: 50px;
  font-weight: 600;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 30px;
}

@media (max-width: 800px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 25px;
  }
}

.section_title {
  font-weight: bold;
}

.main_heading {
  height: 280px;
  // background-image: url("transparent_heading.png");
  background-color: transparent;
  background-position: center center;
  opacity: 0.9;
}

@media (max-width: 560px) {
  .main_heading {
    height: 200px;
    background-size: cover;
  }
}
