<div class="global_wrapper">
  <div class="search_bar">
<%= form_tag recipes_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a recipe"
  %>
<% end %>
</div>
</div>
