<div class="global_wrapper">
  <div class="search_bar">
<%= form_tag recipes_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Search recipes"
  %>
  <!-- <button class="btn btn-primary search_button">
    <i class="fas fa-search"></i>
  </button> -->
<% end %>
</div>
</div>
