<div class="global_wrapper">
  <div class="foreground_element">
    <h1>Private messages</h1>
  </div>

  <div class="foreground_element">
    <table>
      <tr>
        <th>From:</th>
        <th>Message:</th>
      </tr>
      <% @other_users.each do |user| %>
      <% message = @private_messages.where(receiver: user).or(@private_messages.where(sender: user)).order(created_at: :desc) %>
          <tr>
            <td><%= link_to message.first.sender.username, private_message_path(message.first) %></td>
            <td><%= link_to message.first.body, private_message_path(message.first) %></td>
          </tr>
      <% end %>
    </table>
  </div>
</div>
