<div class="global_wrapper">
  <div class="foreground_element">
    <h1>Private messages</h1>
  </div>

  <div class="foreground_element">
    <table>
      <tr>
        <th>From:</th>
        <th>Message:</th>
      </tr>
      <% @private_messages.each do |pm| %>
          <tr>
            <td><%= link_to pm.sender.username, private_message_path(pm) %></td>
            <td><%= link_to pm.body, private_message_path(pm) %></td>
          </tr>
      <% end %>
    </table>
  </div>
</div>
