<div class="banner">

  <div class="banner-content">
    <h1>Plant as Usual</h1>
    <p>
      Plant-based <span id="banner-typed-text"></span>
    </p>
    <%= link_to 'Enter', recipes_path, { class: 'btn btn-primary btn-lg' } %>
  </div>
</div>
