.checkboxes_inline {
  display: inline;
  margin: 20px;
  line-height: 50px;
  float: left;
}

.form_row {
  margin-bottom: 30px;
}

.file_upload {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.link_right {
  color: black;
  margin-left: 5px;
}

.link_right:hover {
  color: red;
}

.add_button_link {
  background-color: transparent;
  border: none;
}
