.star {
  font-size: 30px;
  margin: 15px;
}

.star_card {
  float: right;
}

.star_show {
  float: left;
}

.full_star a {
  color: #FFD700;
}

.full_star a:hover {
  color: black;
}

.empty_star a:hover {
  color: #FFD700;
}
